body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg,#74b9ff,#a29bfe);
    font-family: 'poppins',sans-serif;
}
.calculator{
    background: #2d3436;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0, 0, 0.3);
}
#display{
    width: 100%;
    height: 60px;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #dfe6e9;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
    gap: 10px;
}
button{
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #636e72;
    color: #fff;
    transition: 0.2s;
}
button hover{
    background: #b2bec3;
    color: #2d3436;
}
#clear{
    background: #d63031;
}
#equals{
    background: #00b894;
    grid-column: span 2;
}